@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-bg {
    background-image: url('/Ads 1 (1).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
  }
  